################################################################################
#       SnowLeo Pin Setup
################################################################################

#NET axi_led[0]     LOC = J16  | IOSTANDARD= LVCMOS33;#LED
#NET axi_led[1]     LOC = G20 | IOSTANDARD= LVCMOS33;#LED
#NET axi_led[2]     LOC = F20 | IOSTANDARD= LVCMOS33;#LED
#NET axi_led[3]     LOC = G15 | IOSTANDARD= LVCMOS33;#LED
#NET mclk					 LOC = N18 | IOSTANDARD= LVCMOS33 ;#SYS_CLK_P
#NET "mclk" CLOCK_DEDICATED_ROUTE = BACKBONE;

#zipper
//NET	rxclk				LOC=L16		|	IOSTANDARD=LVCMOS33;
NET	rxen				LOC=L20		|	IOSTANDARD=LVCMOS33;
NET	rxiqsel				LOC=N20		|	IOSTANDARD=LVCMOS33;
NET	rxd<0>				LOC=P19		|	IOSTANDARD=LVCMOS33;
NET	rxd<1>				LOC=K18		|	IOSTANDARD=LVCMOS33;
NET	rxd<2>				LOC=P16		|	IOSTANDARD=LVCMOS33;
NET	rxd<3>				LOC=J14		|	IOSTANDARD=LVCMOS33;
NET	rxd<4>				LOC=T19		|	IOSTANDARD=LVCMOS33;
NET	rxd<5>				LOC=J19		|	IOSTANDARD=LVCMOS33;
NET	rxd<6>				LOC=R18		|	IOSTANDARD=LVCMOS33;
NET	rxd<7>				LOC=H20		|	IOSTANDARD=LVCMOS33;
NET	rxd<8>				LOC=V18		|	IOSTANDARD=LVCMOS33;
NET	rxd<9>				LOC=J15		|	IOSTANDARD=LVCMOS33;
NET	rxd<10>				LOC=W20		|	IOSTANDARD=LVCMOS33;
NET	rxd<11>				LOC=K14		|	IOSTANDARD=LVCMOS33;


NET	txclk				LOC=L17		|	IOSTANDARD=LVCMOS33;
NET	txen				LOC=T15		|	IOSTANDARD=LVCMOS33;
NET	txiqsel				LOC=J18		|	IOSTANDARD=LVCMOS33;
NET	txd<0>				LOC=K19		|	IOSTANDARD=LVCMOS33;
NET	txd<1>				LOC=W16		|	IOSTANDARD=LVCMOS33;
NET	txd<2>				LOC=K16		|	IOSTANDARD=LVCMOS33;
NET	txd<3>				LOC=N15		|	IOSTANDARD=LVCMOS33;
NET	txd<4>				LOC=L19		|	IOSTANDARD=LVCMOS33;
NET	txd<5>				LOC=U14		|	IOSTANDARD=LVCMOS33;
NET	txd<6>				LOC=L14		|	IOSTANDARD=LVCMOS33;
NET	txd<7>				LOC=M19		|	IOSTANDARD=LVCMOS33;
NET	txd<8>				LOC=M20		|	IOSTANDARD=LVCMOS33;
NET	txd<9>				LOC=L15		|	IOSTANDARD=LVCMOS33;
NET	txd<10>				LOC=P18		|	IOSTANDARD=LVCMOS33;
NET	txd<11>				LOC=M15		|	IOSTANDARD=LVCMOS33;


NET	rf_reset			LOC=M18		|	IOSTANDARD=LVCMOS33;
NET	sil5351_scl			LOC=W13		|	IOSTANDARD=LVCMOS33;
NET	sil5351_sda			LOC=J20		|	IOSTANDARD=LVCMOS33;
NET	spi_clk				LOC=U19		|	IOSTANDARD=LVCMOS33;
NET	spi_miso		    LOC=U20		|	IOSTANDARD=LVCMOS33;
NET	spi_mosi			LOC=P20		|	IOSTANDARD=LVCMOS33;
NET	spi_cs				LOC=Y19		|	IOSTANDARD=LVCMOS33;

NET	gpio[0]		      LOC=Y18		|	IOSTANDARD=LVCMOS33;
NET	gpio[1]		      LOC=U17		|	IOSTANDARD=LVCMOS33;
NET	gpio[2]		      LOC=W15		|	IOSTANDARD=LVCMOS33;

#--------------------------- SNOWLeo HDMI interface  -------------------------------
NET hdmi_clk_pin        LOC = U18  | IOSTANDARD = LVCMOS33;
NET hdmi_data_e_pin     LOC = T11  | IOSTANDARD = LVCMOS33;
NET hdmi_hsync_pin      LOC = V12  | IOSTANDARD = LVCMOS33;
NET hdmi_vsync_pin      LOC = T10  | IOSTANDARD = LVCMOS33;
# RGB
##B
#NET hdmi_data_pin<8>    LOC = W14  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<9>    LOC = Y14  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<10>    LOC = P14  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<11>    LOC = V15  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<12>    LOC = T14  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<13>    LOC = Y17  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<14>    LOC = V16  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<15>    LOC = R16  | IOSTANDARD = LVCMOS33;

##G
#NET hdmi_data_pin<0>    LOC = Y16  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<1>    LOC = V17  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<2>   LOC = W18 | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<3>   LOC = V20 | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<4>   LOC = W19 | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<5>   LOC = R17 | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<6>   LOC = R19 | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<7>   LOC = T17 | IOSTANDARD = LVCMOS33;
##R
#NET hdmi_data_pin<16>   LOC = N17  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<17>   LOC = M14  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<18>   LOC = N16  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<19>   LOC = P15  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<20>   LOC = T20  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<21>   LOC = T16  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<22>   LOC = M17  | IOSTANDARD = LVCMOS33;
#NET hdmi_data_pin<23>   LOC = R14  | IOSTANDARD = LVCMOS33;

#YCbCr
##Y
NET hdmi_data_pin<0>    LOC = Y16  | IOSTANDARD = LVCMOS33;
NET hdmi_data_pin<1>    LOC = V17  | IOSTANDARD = LVCMOS33;
NET hdmi_data_pin<2>   LOC = W18 | IOSTANDARD = LVCMOS33;
NET hdmi_data_pin<3>   LOC = V20 | IOSTANDARD = LVCMOS33;
NET hdmi_data_pin<4>   LOC = W19 | IOSTANDARD = LVCMOS33;
NET hdmi_data_pin<5>   LOC = R17 | IOSTANDARD = LVCMOS33;
NET hdmi_data_pin<6>   LOC = R19 | IOSTANDARD = LVCMOS33;
NET hdmi_data_pin<7>   LOC = T17 | IOSTANDARD = LVCMOS33;
##C
NET hdmi_data_pin<8>   LOC = N17  | IOSTANDARD = LVCMOS33;
NET hdmi_data_pin<9>   LOC = M14  | IOSTANDARD = LVCMOS33;
NET hdmi_data_pin<10>   LOC = N16  | IOSTANDARD = LVCMOS33;
NET hdmi_data_pin<11>   LOC = P15  | IOSTANDARD = LVCMOS33;
NET hdmi_data_pin<12>   LOC = T20  | IOSTANDARD = LVCMOS33;
NET hdmi_data_pin<13>   LOC = T16  | IOSTANDARD = LVCMOS33;
NET hdmi_data_pin<14>   LOC = M17  | IOSTANDARD = LVCMOS33;
NET hdmi_data_pin<15>   LOC = R14  | IOSTANDARD = LVCMOS33;



PIN "u_pll_tx/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "BUFG1.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "BUFG2.O" CLOCK_DEDICATED_ROUTE = FALSE;
NET "rxiqsel" CLOCK_DEDICATED_ROUTE = FALSE;
NET "txclk" CLOCK_DEDICATED_ROUTE = FALSE;
//NET "rxclk" CLOCK_DEDICATED_ROUTE = FALSE;